@import "./components/header";
@import "./components/footer";
@import "./components/banner";
@import "./components/card";
@import "./components/collapse";
@import "./components/slideshow";
@import "./pages/home";
@import "./pages/about";

body {
  font-family: sans-serif;
  //padding: 0 100px 0 100px;
  margin: 0;
  background: #ffffff;
  font-family: "Montserrat", sans-serif;

  //@media screen and (max-width: 768px) {
  //  padding: 0 20px 0 20px;
  //}

  .cards-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 30px;
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 30px;
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr; //enleve la largeur max a 340
      padding: 0;
      gap: 20px;
    }
  }
}
